
.card {
	display: inline-block;
	height: 350px;
	width: 250px;
	margin: .5em;
	color: #FFFFFF;
	background-repeat: no-repeat !important;
    background-size: 250px 350px !important;
	text-align: center;
	vertical-align: text-bottom;
	font-weight: bold;
	font-size: 150%;
	padding-top: 170px;
	padding-left: 40px;
	padding-right: 35px;
	cursor: pointer;
	word-wrap: break-word;
	white-space: pre-line;
}

.card .card-ability, .card .card-description{
	font-size: 16px;
}


.selected {
	background-size: cover !important;
	width: 900px !important;
	padding-top: 120px;
	padding-left: 100px;
	padding-right: 100px;
}

.selected .card-name{
	font-size: 28px;
	margin: .25em;
}

.selected .card-ability, .selected .card-description{
	margin-top: 20px;
	font-size: 24px;
}

#characters_list .selected {
	background-image: url("/images/description3.png") !important;
	color: #3e5e76;
}

#equipment_list .selected {
	background-image: url("/images/description2.png") !important;
	color: #48763f;
}

#status_list .selected {
	background-image: url("/images/description1.png") !important;
	color: #74423d;
}

#card_select_view .selected:hover {
	background-color: #CCCCCC;
}

#card_select_view .card:not(.selected):hover {
	border-color: #333333;
	color: #333333;
	background-color: #CCCCCC;
}

#submit_button{
	background-color: #00CC00;
}

#clear_button{
	background-color: #CC0000;
}
