p.a {
	margin: 35px 90px 90px 90px;
}

p.normal_text {
	font-family: "Lucida Console", Monaco, monospace;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 20px;
}	
p.button_text {
	font-family: "Lucida Console", Monaco, monospace;
	margin-top:10px;
}
			
.view:not(.current_view){
	display: none;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	max-width: 500px;
	background-color: #444444;
	border: 5px solid #CCCCCC;
	border-radius: 15px;
	color: #CCCCCC;
	font-size: 2em;
	padding: 20px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	border-color: #333333;
	color: #333333;
	background-color: #CCCCCC;
}

.scroll {
	overflow: auto;
	white-space: nowrap;
	height: 375px;
	margin-bottom: 25px;
}
